.btn-burgundy {
    background-color: #505b44;
    border-color: #505b44;
  }
  
  .btn-burgundy:hover {
    background-color: #151613;
    border-color:  #151613;
  }
  a{
    text-transform: capitalize;
    color: #151613;
    text-decoration: none;
    font-weight: 500;
  }
  