.form-control1{
    padding-inline: 200px;
    padding-block: 10px;
}
  .image-container {
    margin-left: 70px; 
  }
  .btn1{
    background-color: #151613;
    color: #fff;
    font-size: 16px;
    padding-inline: 250px;
    padding-block: 5px;
  }