.navbar-container {
    position: relative;
  }
  
  .navbar-top-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; /* يمكنك تعديل الارتفاع حسب الاحتياج */
    background-color: #000; /* يمكنك تغيير لون الإطار إلى اللون الذي ترغب فيه */
  }
  